/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';
@import 'flatpickr/dist/flatpickr.css';
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* Color Theme Swatches in Hex */
/*$Bikes-1-hex: #F0B725;
$Bikes-2-hex: #F77728;
$Bikes-3-hex: #E03200;
$Bikes-4-hex: #F74028;
$Bikes-5-hex: #ED2642;*/

/* Color Theme Swatches in Hex */
/*$Bikes-5-hex: #220B5E;
$Bikes-2-hex: #7654B4;
$Bikes-3-hex: #3B1D98;
$Bikes-1-hex: #967ECB;
$Bikes-4-hex: #513779;*/

/* Color Theme Swatches in Hex */
/*$Bikes-1-hex: #003F7D;
$Bikes-2-hex: #FF8E00;
$Bikes-3-hex: #E1E3E7;
$Bikes-4-hex: #FF5003;
$Bikes-5-hex: #002447;*/

/* Color Theme Swatches in Hex */
$Bikes-1-hex: #3C851B;
$Bikes-2-hex: #7FC210;
$Bikes-3-hex: #0E8F94;
$Bikes-4-hex: #6FCCD6;
$Bikes-5-hex: #175668;




body {
    background-color: #ededed;
}

.line {
    background-color: $Bikes-2-hex;
    height          : 5px;
    width           : 100%;
}

.bike-nav {
    background-color: $Bikes-5-hex;
}

.bike-table {
    thead {
        background-color: scale-color($Bikes-4-hex, $lightness: 10%);
        color           : white;
        text-align: center;
    }

    tbody{
        text-align: center;
    }

    tfoot {
        background-color: scale-color($Bikes-4-hex, $lightness: 30%);
        color           : white;
        text-align: center;
    }
}

.btn-outline-primary {
    border-color: $Bikes-2-hex !important;
    color       : $Bikes-2-hex;

    &:hover {
        background-color: $Bikes-2-hex !important;
        color           : white;
    }

}

.dropdown-item {
    &:hover {
        background-color: white !important;
        color           : black;
    }
}

.dropdown-toggle {
    background-color: white;
    color           : $Bikes-2-hex;

    &:visited {
        background-color: $Bikes-2-hex !important;
        color           : white;
    }

    &:hover {
        background-color: $Bikes-2-hex !important;
        color           : white;
    }

    &:focus {
        background-color: $Bikes-2-hex !important;
        color           : white;
    }

    &:active {
        background-color: $Bikes-2-hex !important;
        color           : white;
    }
}

.btn-primary {
    background-color: $Bikes-2-hex !important;
    border-color    : transparent;

    &:hover {
        background-color: scale-color($Bikes-2-hex, $lightness: -15%) !important;
        color           : white;
        border-color    : transparent;
    }
}

.btn-icon {
    background-color: transparent;
    border          : transparent;
}

/* this is for clicked or active tabs */
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: scale-color($Bikes-4-hex, $lightness: -5%);
    color      : $Bikes-3-hex;
    font-size  : 15px;
    font-weight: bold;
}

/* this is for normal tabs */
.nav-tabs .nav-link {
    //background-color: white;
    background-color: scale-color($Bikes-4-hex, $lightness: 45%);
    color           : $Bikes-3-hex;
    font-size       : 15px;
    font-weight     : bold;
}

.ng-autocomplete {
    width    : 100%;
    max-width: 300px;
    display  : table;
    margin   : 0 auto;
}
